# Adaptive RAG

PDF 테이블 정보에 대한 Recursive Retrieval 전략
- 다수의 CSV 테이블 대상으로 검색 chunk와 답변 생성 chunk 분리해보기
- 테이블 검색용 Chunk 대상으로 User Query에 대해 Adaptive하게 retrieval 가져가보기

In [1]:
%pip install llama-index-embeddings-openai llama-index-llms-openai camelot-py llama-index pymupdf

Collecting llama-index-embeddings-openai
  Downloading llama_index_embeddings_openai-0.1.11-py3-none-any.whl.metadata (655 bytes)
Collecting llama-index-llms-openai
  Downloading llama_index_llms_openai-0.1.29-py3-none-any.whl.metadata (650 bytes)
Collecting camelot-py
  Downloading camelot_py-0.11.0-py3-none-any.whl.metadata (8.3 kB)
Collecting llama-index
  Downloading llama_index-0.10.62-py3-none-any.whl.metadata (11 kB)
Collecting pymupdf
  Downloading PyMuPDF-1.24.9-cp310-none-manylinux2014_x86_64.whl.metadata (3.4 kB)
Collecting llama-index-core<0.11.0,>=0.10.1 (from llama-index-embeddings-openai)
  Downloading llama_index_core-0.10.62-py3-none-any.whl.metadata (2.4 kB)
Collecting openai<2.0.0,>=1.40.0 (from llama-index-llms-openai)
  Downloading openai-1.40.2-py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (5.2.0)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (8.1.7)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (1.26.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (3.1.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (2.1.4)
Collecting pdfminer.six>=20200726 (from camelot-py)
  Downloading pdfminer.six-20240706-py3-none-any.whl.metadata (4.1 kB)
Collecting pypdf>=3.0.0 (from camelot-py)
  Downloading pypdf-4.3.1-py3-none-any.whl.metadata (7.4 kB)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.10/dist-packages (from camelot-py) (0.9.0)
Collecting llama-index-agent-openai<0.3.0,>=0.1.4 (from llama-index)
  Downloading llama_index_agent_openai-0.2.9-py3-none-any.whl.metadata (729 bytes)
Collecting llama-index-cli<0.2.0,>=0.1.2 (from llama-index)
  Downloading llama_index_cli-0.1.13-py3-none-any.whl.metadata (1.5 kB)
Collecting llama-index-indices-managed-llama-cloud>=0.2.0 (from llama-index)
  Downloading llama_index_indices_managed_llama_cloud-0.2.7-py3-none-any.whl.metadata (3.8 kB)
Collecting llama-index-legacy<0.10.0,>=0.9.48 (from llama-index)
  Downloading llama_index_legacy-0.9.48-py3-none-any.whl.metadata (8.5 kB)
Collecting llama-index-multi-modal-llms-openai<0.2.0,>=0.1.3 (from llama-index)
  Downloading llama_index_multi_modal_llms_openai-0.1.9-py3-none-any.whl.metadata (728 bytes)
Collecting llama-index-program-openai<0.2.0,>=0.1.3 (from llama-index)
  Downloading llama_index_program_openai-0.1.7-py3-none-any.whl.metadata (760 bytes)
Collecting llama-index-question-gen-openai<0.2.0,>=0.1.2 (from llama-index)
  Downloading llama_index_question_gen_openai-0.1.3-py3-none-any.whl.metadata (785 bytes)
Collecting llama-index-readers-file<0.2.0,>=0.1.4 (from llama-index)
  Downloading llama_index_readers_file-0.1.32-py3-none-any.whl.metadata (5.4 kB)
Collecting llama-index-readers-llama-parse>=0.1.2 (from llama-index)
  Downloading llama_index_readers_llama_parse-0.1.6-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: PyYAML>=6.0.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.49 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy[asyncio]>=1.4.49->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2.0.31)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.6 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (3.10.1)
Collecting dataclasses-json (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading dataclasses_json-0.6.7-py3-none-any.whl.metadata (25 kB)
Collecting deprecated>=1.2.9.3 (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl.metadata (5.4 kB)
Collecting dirtyjson<2.0.0,>=1.0.8 (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading dirtyjson-1.0.8-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2024.6.1)
Collecting httpx (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: nest-asyncio<2.0.0,>=1.5.8 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (1.6.0)
Requirement already satisfied: networkx>=3.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (3.3)
Requirement already satisfied: nltk<4.0.0,>=3.8.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (3.8.1)
Requirement already satisfied: pillow>=9.0.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (9.4.0)
Requirement already satisfied: requests>=2.31.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2.32.3)
Collecting tenacity!=8.4.0,<9.0.0,>=8.2.0 (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading tenacity-8.5.0-py3-none-any.whl.metadata (1.2 kB)
Collecting tiktoken>=0.3.3 (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading tiktoken-0.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.66.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (4.66.5)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (4.12.2)
Collecting typing-inspect>=0.8.0 (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (1.16.0)
Collecting PyMuPDFb==1.24.9 (from pymupdf)
  Downloading PyMuPDFb-1.24.9-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.4 kB)
Collecting llama-cloud>=0.0.11 (from llama-index-indices-managed-llama-cloud>=0.2.0->llama-index)
  Downloading llama_cloud-0.0.13-py3-none-any.whl.metadata (751 bytes)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.12.3 in /usr/local/lib/python3.10/dist-packages (from llama-index-readers-file<0.2.0,>=0.1.4->llama-index) (4.12.3)
Collecting striprtf<0.0.27,>=0.0.26 (from llama-index-readers-file<0.2.0,>=0.1.4->llama-index)
  Downloading striprtf-0.0.26-py3-none-any.whl.metadata (2.1 kB)
Collecting llama-parse>=0.4.0 (from llama-index-readers-llama-parse>=0.1.2->llama-index)
  Downloading llama_parse-0.4.9-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.40.0->llama-index-llms-openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai<2.0.0,>=1.40.0->llama-index-llms-openai) (1.7.0)
Collecting jiter<1,>=0.4.0 (from openai<2.0.0,>=1.40.0->llama-index-llms-openai)
  Downloading jiter-0.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.6 kB)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.40.0->llama-index-llms-openai) (2.8.2)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai<2.0.0,>=1.40.0->llama-index-llms-openai) (1.3.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl>=2.5.8->camelot-py) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23.4->camelot-py) (2024.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six>=20200726->camelot-py) (42.0.8)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2.3.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (24.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (4.0.3)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai<2.0.0,>=1.40.0->llama-index-llms-openai) (3.7)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai<2.0.0,>=1.40.0->llama-index-llms-openai) (1.2.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4<5.0.0,>=4.12.3->llama-index-readers-file<0.2.0,>=0.1.4->llama-index) (2.5)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2024.7.4)
Collecting httpcore==1.* (from httpx->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.8.1->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.8.1->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2024.5.15)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai<2.0.0,>=1.40.0->llama-index-llms-openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai<2.0.0,>=1.40.0->llama-index-llms-openai) (2.20.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.23.4->camelot-py) (1.16.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.49->SQLAlchemy[asyncio]>=1.4.49->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (3.0.3)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.8.0->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai)
  Downloading marshmallow-3.21.3-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py) (2.22)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json->llama-index-core<0.11.0,>=0.10.1->llama-index-embeddings-openai) (24.1)
Downloading llama_index_embeddings_openai-0.1.11-py3-none-any.whl (6.3 kB)
Downloading llama_index_llms_openai-0.1.29-py3-none-any.whl (11 kB)
Downloading camelot_py-0.11.0-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 2.6 MB/s eta 0:00:00
Downloading llama_index-0.10.62-py3-none-any.whl (6.8 kB)
Downloading llama_index_core-0.10.62-py3-none-any.whl (15.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.5/15.5 MB 63.1 MB/s eta 0:00:00
Downloading PyMuPDF-1.24.9-cp310-none-manylinux2014_x86_64.whl (3.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 54.2 MB/s eta 0:00:00
Downloading PyMuPDFb-1.24.9-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (15.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 43.2 MB/s eta 0:00:00
Downloading llama_index_agent_openai-0.2.9-py3-none-any.whl (13 kB)
Downloading llama_index_cli-0.1.13-py3-none-any.whl (27 kB)
Downloading llama_index_indices_managed_llama_cloud-0.2.7-py3-none-any.whl (9.5 kB)
Downloading llama_index_legacy-0.9.48-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 57.2 MB/s eta 0:00:00
Downloading llama_index_multi_modal_llms_openai-0.1.9-py3-none-any.whl (5.9 kB)
Downloading llama_index_program_openai-0.1.7-py3-none-any.whl (5.3 kB)
Downloading llama_index_question_gen_openai-0.1.3-py3-none-any.whl (2.9 kB)
Downloading llama_index_readers_file-0.1.32-py3-none-any.whl (38 kB)
Downloading llama_index_readers_llama_parse-0.1.6-py3-none-any.whl (2.5 kB)
Downloading openai-1.40.2-py3-none-any.whl (360 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 360.7/360.7 kB 18.4 MB/s eta 0:00:00
Downloading pdfminer.six-20240706-py3-none-any.whl (5.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 56.8 MB/s eta 0:00:00
Downloading pypdf-4.3.1-py3-none-any.whl (295 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 295.8/295.8 kB 18.3 MB/s eta 0:00:00
Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Downloading dirtyjson-1.0.8-py3-none-any.whl (25 kB)
Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 5.9 MB/s eta 0:00:00
Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 4.8 MB/s eta 0:00:00
Downloading jiter-0.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (318 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 318.9/318.9 kB 16.1 MB/s eta 0:00:00
Downloading llama_cloud-0.0.13-py3-none-any.whl (169 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.4/169.4 kB 10.6 MB/s eta 0:00:00
Downloading llama_parse-0.4.9-py3-none-any.whl (9.4 kB)
Downloading striprtf-0.0.26-py3-none-any.whl (6.9 kB)
Downloading tenacity-8.5.0-py3-none-any.whl (28 kB)
Downloading tiktoken-0.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 35.5 MB/s eta 0:00:00
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading dataclasses_json-0.6.7-py3-none-any.whl (28 kB)
Downloading marshmallow-3.21.3-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.2/49.2 kB 3.3 MB/s eta 0:00:00
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 2.7 MB/s eta 0:00:00
Installing collected packages: striprtf, dirtyjson, tenacity, pypdf, PyMuPDFb, mypy-extensions, marshmallow, jiter, h11, deprecated, typing-inspect, tiktoken, pymupdf, httpcore, pdfminer.six, httpx, dataclasses-json, openai, llama-cloud, camelot-py, llama-index-legacy, llama-index-core, llama-parse, llama-index-readers-file, llama-index-llms-openai, llama-index-indices-managed-llama-cloud, llama-index-embeddings-openai, llama-index-readers-llama-parse, llama-index-multi-modal-llms-openai, llama-index-cli, llama-index-agent-openai, llama-index-program-openai, llama-index-question-gen-openai, llama-index
  Attempting uninstall: tenacity
    Found existing installation: tenacity 9.0.0
    Uninstalling tenacity-9.0.0:
      Successfully uninstalled tenacity-9.0.0
Successfully installed PyMuPDFb-1.24.9 camelot-py-0.11.0 dataclasses-json-0.6.7 deprecated-1.2.14 dirtyjson-1.0.8 h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 jiter-0.5.0 llama-cloud-0.0.13 llama-index-0.10.62 llama-index-agent-openai-0.2.9 llama-index-cli-0.1.13 llama-index-core-0.10.62 llama-index-embeddings-openai-0.1.11 llama-index-indices-managed-llama-cloud-0.2.7 llama-index-legacy-0.9.48 llama-index-llms-openai-0.1.29 llama-index-multi-modal-llms-openai-0.1.9 llama-index-program-openai-0.1.7 llama-index-question-gen-openai-0.1.3 llama-index-readers-file-0.1.32 llama-index-readers-llama-parse-0.1.6 llama-parse-0.4.9 marshmallow-3.21.3 mypy-extensions-1.0.0 openai-1.40.2 pdfminer.six-20240706 pymupdf-1.24.9 pypdf-4.3.1 striprtf-0.0.26 tenacity-8.5.0 tiktoken-0.7.0 typing-inspect-0.9.0

In [2]:
!apt-get install ghostscript
!pip install ghostscript

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono fonts-urw-base35 libgs9 libgs9-common libidn12 libijs-0.35
  libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto fonts-freefont-otf | fonts-freefont-ttf fonts-texgyre ghostscript-x poppler-utils
  fonts-japanese-mincho | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono fonts-urw-base35 ghostscript libgs9 libgs9-common libidn12
  libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 10 newly installed, 0 to remove and 45 not upgraded.
Need to get 16.7 MB of archives.
After this operation, 63.0 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1build1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 poppler-data all 0.4.11-1 [2,171 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-noto-mono all 20201225-1build1 [397 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-urw-base35 all 20200910-1 [6,367 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libgs9-common all 9.55.0~dfsg1-0ubuntu5.9 [752 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libidn12 amd64 1.38-4ubuntu1 [60.0 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libijs-0.35 amd64 0.35-15build2 [16.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjbig2dec0 amd64 0.19-3build2 [64.7 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libgs9 amd64 9.55.0~dfsg1-0ubuntu5.9 [5,033 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 ghostscript amd64 9.55.0~dfsg1-0ubuntu5.9 [49.5 kB]
Fetched 16.7 MB in 2s (10.8 MB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 123598 files and directories currently installed.)
Preparing to unpack .../0-fonts-droid-fallback_1%3a6.0.1r16-1.1build1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1build1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../1-poppler-data_0.4.11-1_all.deb ...
Unpacking poppler-data (0.4.11-1) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../2-fonts-noto-mono_20201225-1build1_all.deb ...
Unpacking fonts-noto-mono (20201225-1build1) ...
Selecting previously unselected package fonts-urw-base35.
Preparing to unpack .../3-fonts-urw-base35_20200910-1_all.deb ...
Unpacking fonts-urw-base35 (20200910-1) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../4-libgs9-common_9.55.0~dfsg1-0ubuntu5.9_all.deb ...
Unpacking libgs9-common (9.55.0~dfsg1-0ubuntu5.9) ...
Selecting previously unselected package libidn12:amd64.
Preparing to unpack .../5-libidn12_1.38-4ubuntu1_amd64.deb ...
Unpacking libidn12:amd64 (1.38-4ubuntu1) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../6-libijs-0.35_0.35-15build2_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-15build2) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../7-libjbig2dec0_0.19-3build2_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.19-3build2) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../8-libgs9_9.55.0~dfsg1-0ubuntu5.9_amd64.deb ...
Unpacking libgs9:amd64 (9.55.0~dfsg1-0ubuntu5.9) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../9-ghostscript_9.55.0~dfsg1-0ubuntu5.9_amd64.deb ...
Unpacking ghostscript (9.55.0~dfsg1-0ubuntu5.9) ...
Setting up fonts-noto-mono (20201225-1build1) ...
Setting up libijs-0.35:amd64 (0.35-15build2) ...
Setting up fonts-urw-base35 (20200910-1) ...
Setting up poppler-data (0.4.11-1) ...
Setting up libjbig2dec0:amd64 (0.19-3build2) ...
Setting up libidn12:amd64 (1.38-4ubuntu1) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1build1) ...
Setting up libgs9-common (9.55.0~dfsg1-0ubuntu5.9) ...
Setting up libgs9:amd64 (9.55.0~dfsg1-0ubuntu5.9) ...
Setting up ghostscript (9.55.0~dfsg1-0ubuntu5.9) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Collecting ghostscript
  Downloading ghostscript-0.7-py2.py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.10/dist-packages (from ghostscript) (71.0.4)
Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Installing collected packages: ghostscript
Successfully installed ghostscript-0.7

In [3]:
import camelot

from llama_index.core import VectorStoreIndex
from llama_index.core.query_engine import PandasQueryEngine
from llama_index.core.schema import IndexNode
from llama_index.llms.openai import OpenAI

from llama_index.readers.file import PyMuPDFReader
from typing import List

In [4]:
import os

os.environ["OPENAI_API_KEY"] = ''

In [5]:
from llama_index.embeddings.openai import OpenAIEmbedding
from llama_index.llms.openai import OpenAI
from llama_index.core import Settings

# 추후 사용할 llm, 임베딩 모델 클래스 정의
Settings.llm = OpenAI(model="gpt-4o-mini", temperature=0)
Settings.embed_model = OpenAIEmbedding(model="text-embedding-3-small")

In [6]:
# 파싱할 파일 경로 설정
file_path = "/content/billionaires_page.pdf"

In [7]:
# PDF파서 정의
reader = PyMuPDFReader()

In [8]:

# 업로드된 경로에서 로딩스테이지 진행한 후 다큐먼트 단위로 저장
docs = reader.load(file_path)

In [ ]:
# 도큐먼트 정보 확인
docs

[Document(id_='7f9efeb7-eadd-4aa2-9f7f-64b25b11f935', embedding=None, metadata={'total_pages': 32, 'file_path': '/content/billionaires_page.pdf', 'source': '1'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="The World's Billionaires\nList of the world's billionaires, ranked in order of net worth\nThe net worth of the world's billionaires increased from\nless than US$1 trillion in 2000 to over $7 trillion in 2015.\nPublication details\nPublisher\nWhale Media Investments\nForbes family\nPublication\nForbes\nFirst published\nMarch 1987[1]\nLatest publication\nApril 4, 2023\nCurrent list details (2023)[2]\nWealthiest\nBernard Arnault\nNet worth (1st)\n\xa0US$211\xa0billion\nNumber of\nbillionaires\n\xa02,640 (from 2668)\nTotal list net worth\nvalue\n\xa0US$12.2\xa0trillion (from US$12.7\ntrillion)\nNumber of women\n\xa0337\nNumber of men\n\xa02310\nNew members to the\nlist\n\xa0150\nForbes: The World's Billionaires website (https://www.forb\nes.com/billionaires/)\nThe World's Billionaires\nThe World's Billionaires is an annual\nranking of people who are billionaires, i.e.,\nthey are considered to have a net worth of\nUS$1 billion or more, by the American\nbusiness magazine Forbes. The list was first\npublished in March 1987.[1] The total net\nworth of each individual on the list is\nestimated and is cited in United States\ndollars, based on their documented assets and\naccounting for debt and other factors.\nRoyalty and dictators whose wealth comes\nfrom their positions are excluded from these\nlists.[3] This ranking is an index of the\nwealthiest documented individuals, excluding\nany ranking of those with wealth that is not\nable to be completely ascertained.[4]\nIn 2018, Amazon founder Jeff Bezos was\nranked at the top for the first time and\nbecame the first centibillionaire included in\nthe ranking,[5] surpassing Microsoft founder\nBill Gates, who had topped the list 18 of the\nprevious 24 years. In 2022, after topping the\nlist for four years, Bezos was surpassed by\nElon Musk.[6] In 2023, Musk was in turn\nsurpassed by French businessman Bernard\nArnault, after topping the list for just a year.\nArnault became the first French person to top\nthe list.[2]\nEach year, Forbes employs a team of over 50\nreporters from a variety of countries to track\nthe activity of the world's wealthiest\nindividuals[7] and sometimes groups or\nfamilies – who share wealth. Preliminary\nsurveys are sent to those who may qualify for the list. According to Forbes, they received three types of\nresponses\xa0– some people try to inflate their wealth, others cooperate but leave out details, and some refuse\nto answer any questions.[8] Business deals are then scrutinized and estimates of valuable assets\xa0 – land,\nhomes, vehicles, artwork, etc.\xa0– are made. Interviews are conducted to vet the figures and improve the\nestimate of an individual's holdings. Finally, positions in a publicly traded stock are priced to market on a\nMethodology\n", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),
 Document(id_='66adbf83-b2fd-433f-bc3f-ae57a933458b', embedding=None, metadata={'total_pages': 32, 'file_path': '/content/billionaires_page.pdf', 'source': '2'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='date roughly a month before publication. Privately held companies are priced by the prevailing price-to-\nsales or price-to-earnings ratios. Known debt is subtracted from assets to get a final estimate of an\nindividual\'s estimated worth in United States dollars. Since stock prices fluctuate rapidly, an individual\'s true\nwealth and ranking at the time of publication may vary from their situation when the list was compiled.[7]\nWhen a living individual has dispersed his or her wealth to immediate family members it is included under a\nsingle listing (as a single "family fortune") provided that individual (the grantor) is still living. However, if a\ndeceased billionaire\'s fortune has been dispersed, it will not appear as a single listing, and each recipient will\nonly appear if his or her own total net worth is over a $1 billion (his or her net worth will not be combined\nwith family members\').[7] Royal families and dictators that have their wealth contingent on a position are\nalways excluded from these lists.[9]\nThe rankings are published annually in March, so the net worths listed are snapshots taken at that time.\nThese lists only show the top 10 wealthiest billionaires for each year.\nIcon\nDescription\nHas not changed from the previous ranking.\nHas increased from the previous ranking.\nHas decreased from the previous ranking.\nIn the 37th annual Forbes list of the world\'s billionaires, the list included 2,640 billionaires with a total net\nwealth of $12.2 trillion, down 28 members and $500 billion from 2022. Over half of the list is less wealthy\ncompared to the previous year, including Elon Musk, who fell from No. 1 to No. 2.[2] The list also marks\nfor the first time a French citizen was in the top position as well as a non-American for the first time since\n2013 when the Mexican Carlos Slim Helu was the world\'s richest person. The list, like in 2022, counted 15\nunder 30 billionaires with the richest of them being Red Bull heir Mark Mateschitz with a net worth of\n$34.7 billion. The youngest of the lot were Clemente Del Vecchio, heir to the Luxottica fortune shared with\nhis six siblings and stepmother, and Kim Jung-yang, whose fortune lies in Japanese-South Korean gaming\ngiant Nexon, both under-20s.[10]\nAnnual rankings\nLegend\n2023\n', mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),
 Document(id_='12d472be-230a-40a8-bc8b-62dd3aeb91ac', embedding=None, metadata={'total_pages': 32, 'file_path': '/content/billionaires_page.pdf', 'source': '3'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="No.\nName\nNet worth\n(USD)\nAge\nNationality\nPrimary source(s) of wealth\n1 \nBernard Arnault &\nfamily\n$211\xa0billion\xa0\n74\n\xa0France\nLVMH\n2 \nElon Musk\n$180\xa0billion\xa0\n51\n\xa0South Africa\n\xa0Canada\n\xa0United\nStates\nTesla, SpaceX, Twitter (Currently\nX)\n3 \nJeff Bezos\n$114\xa0billion\xa0\n59\n\xa0United\nStates\nAmazon\n4 \nLarry Ellison\n$107\xa0billion\xa0\n78\n\xa0United\nStates\nOracle Corporation\n5 \nWarren Buffett\n$106\xa0billion\xa0\n92\n\xa0United\nStates\nBerkshire Hathaway\n6 \nBill Gates\n$104\xa0billion\xa0\n67\n\xa0United\nStates\nMicrosoft\n7 \nMichael Bloomberg\n$94.5\xa0billion\xa0\n81\n\xa0United\nStates\nBloomberg L.P.\n8 \nCarlos Slim & family\n$93\xa0billion\xa0\n83\n\xa0Mexico\nTelmex, América Móvil, Grupo\nCarso\n9 \nMukesh Ambani\n$83.4\xa0billion \n65\n\xa0India\nReliance Industries\n10\nSteve Ballmer\n$80.7\xa0billion\xa0\n67\n\xa0United\nStates\nMicrosoft\nIn the 36th annual Forbes list of the world's billionaires, the list included 2,668 billionaires with a total net\nwealth of $12.7 trillion, down 97 members from 2021.[6]\nNo.\nName\nNet worth (USD)\nAge\nNationality\nPrimary source(s) of wealth\n1 \nElon Musk\n$219\xa0billion\xa0\n50\n\xa0South Africa\n\xa0Canada\n\xa0United States\nTesla, SpaceX\n2 \nJeff Bezos\n$177\xa0billion\xa0\n58\n\xa0United States\nAmazon\n3 \nBernard Arnault & family\n$158\xa0billion\xa0\n73\n\xa0France\nLVMH\n4 \nBill Gates\n$129\xa0billion\xa0\n66\n\xa0United States\nMicrosoft\n5 \nWarren Buffett\n$118\xa0billion\xa0\n91\n\xa0United States\nBerkshire Hathaway\n6 \nLarry Page\n$111\xa0billion\xa0\n49\n\xa0United States\nGoogle\n7 \nSergey Brin\n$107\xa0billion\xa0\n48\n\xa0United States\nGoogle\n8 \nLarry Ellison\n$106\xa0billion\xa0\n77\n\xa0United States\nOracle Corporation\n9 \nSteve Ballmer\n$91.4\xa0billion\xa0\n66\n\xa0United States\nMicrosoft\n10 \nMukesh Ambani\n$90.7\xa0billion \n64\n\xa0India\nReliance Industries\n2022\n2021\n", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),
 Document(id_='1d299ea8-2f42-45f7-b073-0b9383f18229', embedding=None, metadata={'total_pages': 32, 'file_path': '/content/billionaires_page.pdf', 'source': '4'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="In the 35th annual Forbes list of the world's billionaires, the list included 2,755 billionaires with a total net\nwealth of $13.1 trillion, up 660 members from 2020; 86% of these billionaires had more wealth than they\npossessed last year.[11][12]\nNo.\nName\nNet worth (USD)\nAge\nNationality\nSource(s) of wealth\n1 \nJeff Bezos\n$177\xa0billion\xa0\n57\n\xa0United States\nAmazon\n2 \nElon Musk\n$151\xa0billion\xa0\n49\n\xa0South Africa\n\xa0Canada\n\xa0United States\nTesla, SpaceX\n3 \nBernard Arnault & family\n$150\xa0billion\xa0\n72\n\xa0France\nLVMH\n4 \nBill Gates\n$124\xa0billion\xa0\n65\n\xa0United States\nMicrosoft\n5 \nMark Zuckerberg\n$97\xa0billion\xa0\n36\n\xa0United States\nMeta Platforms\n6 \nWarren Buffett\n$96\xa0billion\xa0\n90\n\xa0United States\nBerkshire Hathaway\n7 \nLarry Ellison\n$93\xa0billion\xa0\n76\n\xa0United States\nOracle Corporation\n8 \nLarry Page\n$91.5\xa0billion\xa0\n48\n\xa0United States\nGoogle\n9 \nSergey Brin\n$89\xa0billion\xa0\n47\n\xa0United States\nGoogle\n10 \nMukesh Ambani\n$84.5\xa0billion \n63\n\xa0India\nReliance Industries\nIn the 34th annual Forbes list of the world's billionaires, the list included 2,095 billionaires with a total net\nwealth of $8 trillion, down 58 members and $700 billion from 2019; 51% of these billionaires had less\nwealth than they possessed last year.[13] The list was finalized as of 18 March, thus was already partially\ninfluenced by the COVID-19 pandemic.[13]\nNo.\nName\nNet worth (USD)\nAge\nNationality\nSource(s) of wealth\n1 \nJeff Bezos\n$113\xa0billion\xa0\n56\n\xa0United States\nAmazon\n2 \nBill Gates\n$98\xa0billion\xa0\n64\n\xa0United States\nMicrosoft\n3 \nBernard Arnault & family\n$76\xa0billion\xa0\n71\n\xa0France\nLVMH\n4 \nWarren Buffett\n$67.5\xa0billion\xa0\n89\n\xa0United States\nBerkshire Hathaway\n5 \nLarry Ellison\n$59\xa0billion\xa0\n75\n\xa0United States\nOracle Corporation\n6 \nAmancio Ortega\n$55.1\xa0billion\xa0\n84\n\xa0Spain\nInditex, Zara\n7 \nMark Zuckerberg\n$54.7\xa0billion\xa0\n35\n\xa0United States\nFacebook, Inc.\n8 \nJim Walton\n$54.6\xa0billion\xa0\n71\n\xa0United States\nWalmart\n9 \nAlice Walton\n$54.4\xa0billion\xa0\n70\n\xa0United States\nWalmart\n10 \nS. Robson Walton\n$54.1\xa0billion\xa0\n77\n\xa0United States\nWalmart\nIn the 33rd annual Forbes list of the world's billionaires, the list included 2,153 billionaires with a total net\nwealth of $8.7 trillion, down 55 members and $400 billion from 2018.[14] The U.S. continued to have the\nmost billionaires in the world, with a record of 609, while China dropped to 324 (when not including Hong\n2020\n2019\n", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),
 Document(id_='35a4dfa0-ccae-40cd-b761-8c48386e8e91', embedding=None, metadata={'total_pages': 32, 'file_path': '/content/billionaires_page.pdf', 'source': '5'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="Kong, Macau and Taiwan).[14]\nNo.\nName\nNet worth (USD)\nAge\nNationality\nSource(s) of wealth\n1 \nJeff Bezos\n$131\xa0billion\xa0\n55\n\xa0United States\nAmazon\n2 \nBill Gates\n$96.5\xa0billion\xa0\n63\n\xa0United States\nMicrosoft\n3 \nWarren Buffett\n$82.5\xa0billion\xa0\n88\n\xa0United States\nBerkshire Hathaway\n4 \nBernard Arnault\n$76\xa0billion\xa0\n70\n\xa0France\nLVMH\n5 \nCarlos Slim\n$64\xa0billion\xa0\n79\n\xa0Mexico\nAmérica Móvil, Grupo Carso\n6 \nAmancio Ortega\n$62.7\xa0billion\xa0\n82\n\xa0Spain\nInditex, Zara\n7 \nLarry Ellison\n$62.5\xa0billion\xa0\n74\n\xa0United States\nOracle Corporation\n8 \nMark Zuckerberg\n$62.3\xa0billion\xa0\n34\n\xa0United States\nFacebook, Inc.\n9 \nMichael Bloomberg\n$55.5\xa0billion\xa0\n77\n\xa0United States\nBloomberg L.P.\n10 \nLarry Page\n$50.8\xa0billion\xa0\n45\n\xa0United States\nGoogle\nIn the 32nd annual Forbes list of the world's billionaires, the aggregate wealth of the top 20 richest people\non Earth amounted to about 13 percent of all billionaires' fortunes combined.[15] A record of 2,208\nbillionaires were in the ranking and the total wealth was $9.1 trillion, up 18% since 2017. For the first time,\nJeff Bezos was listed as the top billionaire due to Amazon's rising stock price that resulted in one person's\nbiggest one-year gain in wealth ($35 billion) since Forbes started tracking in 1987.[15] The U.S. had the\nmost billionaires in the world, with 585, while China was catching up with 476 when including Hong\nKong, Macau and Taiwan; it had 372 when excluding those three places.[15] Forbes excluded Al-Walid bin\nTalal and all other Saudi billionaires due to the absence of accurate wealth estimations as a result of the\n2017–19 Saudi Arabian purge.[16]\nNo.\nName\nNet worth (USD)\nAge\nNationality\nSource(s) of wealth\n1 \nJeff Bezos\n$112\xa0billion\xa0\n54\n\xa0United States\nAmazon\n2 \nBill Gates\n$90\xa0billion\xa0\n62\n\xa0United States\nMicrosoft\n3 \nWarren Buffett\n$84\xa0billion\xa0\n87\n\xa0United States\nBerkshire Hathaway\n4 \nBernard Arnault\n$72\xa0billion\xa0\n69\n\xa0France\nLVMH\n5 \nMark Zuckerberg\n$71 billion\xa0\n33\n\xa0United States\nFacebook, Inc.\n6 \nAmancio Ortega\n$70\xa0billion\xa0\n81\n\xa0Spain\nInditex, Zara\n7 \nCarlos Slim\n$67.1\xa0billion\xa0\n78\n\xa0Mexico\nAmérica Móvil, Grupo Carso\n8 \nCharles Koch\n$60\xa0billion\xa0\n82\n\xa0United States\nKoch Industries\n8 \nDavid Koch\n$60\xa0billion\xa0\n77\n\xa0United States\nKoch Industries\n10 \nLarry Ellison\n$58.5\xa0billion\xa0\n73\n\xa0United States\nOracle Corporation\n2018\n2017\n", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),
 Document(id_='e64d64a7-8e35-49c8-8c8a-6124608e15b0', embedding=None, metadata={'total_pages': 32, 'file_path': '/content/billionaires_page.pdf', 'source': '6'}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="On the 30th anniversary of the Forbes list of the world's billionaires, for the fourth year in a row, Bill Gates\nwas named the richest man in the world.[5] In 2017, there was a record of 2,043 people on the list, which is\nthe first time over 2,000 people were listed. This included 195 newcomers of whom 76 were from China\nand 25 from the U.S.; there were 56 people under 40 and it had a record of 227 women.[17] The number of\nbillionaires increased 13% to 2,043 from 1,810 in 2016; this was the biggest change in over 30 years of\ntracking billionaires globally.[5] Added together, the total net worth for 2017's billionaires was\nUS$7.67\xa0trillion, up from US$7.1\xa0trillion in 2015.[5][18] This was the first time after 12 years that Carlos\nSlim was not within the top five. The U.S. had the most billionaires in the world, with a record of 565.\nChina had 319 (not including Hong Kong, Taiwan or Macau), Germany had 114, and India had the fourth\nmost with 101; India reached over 100 billionaires for its first time.\nNo.\nName\nNet worth (USD)\nAge\nNationality\nSource(s) of wealth\n1 \nBill Gates\n$86.0\xa0billion\xa0\n61\n\xa0United States\nMicrosoft\n2 \nWarren Buffett\n$75.6\xa0billion\xa0\n86\n\xa0United States\nBerkshire Hathaway\n3 \nJeff Bezos\n$72.8\xa0billion\xa0\n53\n\xa0United States\nAmazon\n4 \nAmancio Ortega\n$71.3\xa0billion\xa0\n80\n\xa0Spain\nInditex, Zara\n5 \nMark Zuckerberg\n$56.0\xa0billion\xa0\n32\n\xa0United States\nFacebook, Inc.\n6 \nCarlos Slim\n$54.5\xa0billion\xa0\n77\n\xa0Mexico\nAmérica Móvil, Grupo Carso\n7 \nLarry Ellison\n$52.2\xa0billion\xa0\n72\n\xa0United States\nOracle Corporation\n8 \nCharles Koch\n$48.3\xa0billion\xa0\n81\n\xa0United States\nKoch Industries\n8 \nDavid Koch\n$48.3\xa0billion\xa0\n76\n\xa0United States\nKoch Industries\n10 \nMichael Bloomberg\n$47.5\xa0billion\xa0\n75\n\xa0United States\nBloomberg L.P.\nFor the third year in a row, Bill Gates was named the richest man in the world by Forbes' 2016 list of the\nworld's billionaires.[19] This is the 17th time that the founder of Microsoft had claimed the top spot.\nAmancio Ortega rose from last year's position of number four to second.[20] Warren Buffett of Berkshire\nHathaway came in third for the second consecutive time,[21] while Mexican telecommunication mogul\nCarlos Slim slipped from last year's second position to fourth. Jeff Bezos of Amazon,[22] Mark Zuckerberg\nof Facebook[23] and Michael Bloomberg of Bloomberg L.P.,[24] appeared for the first time on the Forbes\ntop 10 billionaires list, coming at fifth, sixth and eighth positions, respectively. Zuckerberg became the\nyoungest top 10 billionaire this year at the age of 31. Larry Ellison, Charles Koch and David Koch also\nslipped from their previous year's positions, with Ellison dropping to seventh from fifth, and the Kochs\nfalling to ninth position from sixth.\n2016\n", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'),

In [9]:
from llama_index.core import Settings
#노드변환 및 파싱
doc_nodes = Settings.node_parser.get_nodes_from_documents(docs)

In [10]:
# 비교를 위한 Naive-RAG 구성
vector_index0 = VectorStoreIndex(doc_nodes)
vector_query_engine0 = vector_index0.as_query_engine()

In [11]:

response = vector_query_engine0.query(
    "How many billionaires were there in 2009?"
)

In [12]:
print(response.source_nodes[0].node.get_content())

No.
Name
Net worth
(USD)
Age
Nationality
Source(s) of wealth
1
Carlos Slim
$74.0 billion
71
 Mexico
América Móvil, Grupo Carso
2
Bill Gates
$56.0 billion
55
 United
States
Microsoft
3
Warren Buffett
$50.0 billion
80
 United
States
Berkshire Hathaway
4
Bernard Arnault
$41.0 billion
62
 France
LVMH Moët Hennessy • Louis
Vuitton
5
Larry Ellison
$39.5 billion
66
 United
States
Oracle Corporation
6
Lakshmi Mittal
$31.1 billion
60
 India
Arcelor Mittal
7
Amancio Ortega
$31.0 billion
74
 Spain
Inditex Group
8
Eike Batista
$30.0 billion
53
 Brazil
EBX Group
9
Mukesh Ambani
$27.0 billion
54
 India
Reliance Industries
10
Christy Walton &
family
$26.5 billion
62
 United
States
Walmart
Slim narrowly eclipsed Gates to top the billionaire list for the first time. Slim saw his estimated worth surge
$18.5 billion to $53.5 billion as shares of America Movil rose 35 percent. Gates' estimated wealth rose $13
billion to $53 billion, placing him second. Warren Buffett was third with $47 billion.[39] Christy Walton
was the highest-ranking woman, placing 12th overall, with an inherited fortune of $22.5 billion.[40] At age
25, Mark Zuckerberg continued to be the world's youngest self-made billionaire.[8] American Isaac
Perlmutter was among the newcomers with an estimated fortune of $4 billion largely acquired in his sale of
Marvel Entertainment to Disney.[39]
A total of 1,011 people made the 2010 list. The United States accounted for 403 billionaires, followed by
China with 89 and Russia with 62.[40] It was the first time China, while including Hong Kong, placed
second.[39] A total of 55 countries were represented on the 2010 list, including Finland and Pakistan which
claimed their first billionaires.[40] Eighty-nine women made the list, but only 14 of them were self-made.[40]
The combined net worth of the list was $3.6 trillion, up 50 percent from 2009's $2.4 trillion, while the
average net worth was $3.5 billion.[8]
The 2010 list featured 164 re-entries and 97 true newcomers.[8] Asia accounted for more than 100 of the
new entrants. Overall, just 12 percent of the list lost wealth since 2009, and 30 people fell off the list. 13
others died.[39] Of the 89 women, 12 were newcomers in 2010. Steve Forbes said the growing number of
billionaires was a clear sign that the world's economy was recovering from 2009's global financial crisis.[8]
In June 2010, Gates and Buffett announced the Giving Pledge, a promise to give the majority of their
wealth to philanthropic causes. As of 2017, the pledge had 158 signatories, but some of the signatories have
since died. Most of the signers of the pledge are billionaires, and their pledges total over $365 billion.[41]
2010

In [13]:
print(str(response))

The information provided does not specify the number of billionaires in 2009.

In [14]:
response = vector_query_engine0.query(
    "What's the net worth of the second richest billionaire in 2023?"
)
print(str(response))

The net worth of the second richest billionaire in 2023 is $201 billion.

In [15]:
print(response.source_nodes[0].node.get_content())

date roughly a month before publication. Privately held companies are priced by the prevailing price-to-
sales or price-to-earnings ratios. Known debt is subtracted from assets to get a final estimate of an
individual's estimated worth in United States dollars. Since stock prices fluctuate rapidly, an individual's true
wealth and ranking at the time of publication may vary from their situation when the list was compiled.[7]
When a living individual has dispersed his or her wealth to immediate family members it is included under a
single listing (as a single "family fortune") provided that individual (the grantor) is still living. However, if a
deceased billionaire's fortune has been dispersed, it will not appear as a single listing, and each recipient will
only appear if his or her own total net worth is over a $1 billion (his or her net worth will not be combined
with family members').[7] Royal families and dictators that have their wealth contingent on a position are
always excluded from these lists.[9]
The rankings are published annually in March, so the net worths listed are snapshots taken at that time.
These lists only show the top 10 wealthiest billionaires for each year.
Icon
Description
Has not changed from the previous ranking.
Has increased from the previous ranking.
Has decreased from the previous ranking.
In the 37th annual Forbes list of the world's billionaires, the list included 2,640 billionaires with a total net
wealth of $12.2 trillion, down 28 members and $500 billion from 2022. Over half of the list is less wealthy
compared to the previous year, including Elon Musk, who fell from No. 1 to No. 2.[2] The list also marks
for the first time a French citizen was in the top position as well as a non-American for the first time since
2013 when the Mexican Carlos Slim Helu was the world's richest person. The list, like in 2022, counted 15
under 30 billionaires with the richest of them being Red Bull heir Mark Mateschitz with a net worth of
$34.7 billion. The youngest of the lot were Clemente Del Vecchio, heir to the Luxottica fortune shared with
his six siblings and stepmother, and Kim Jung-yang, whose fortune lies in Japanese-South Korean gaming
giant Nexon, both under-20s.[10]
Annual rankings
Legend
2023

- 기본적인 PDF파싱모듈로는 테이블 등 Text-Only 가 아닌 문서에 대한 정보 해석력이 떨어지는 것을 확인
- Table정보를 따로 추출하여 답하는 방식은 어떨지?

In [16]:
# pdf의 테이블파싱하기
def get_tables(path: str, pages: List[int]):
    table_dfs = []
    for page in pages:
        table_list = camelot.read_pdf(path, pages=str(page))
        for table in table_list:
            table_df = table.df
            table_df = (
                table_df.rename(columns=table_df.iloc[0])
                .drop(table_df.index[0])
                .reset_index(drop=True)
            )
            table_dfs.append(table_df)
    return table_dfs

In [17]:
table_dfs = get_tables(file_path, pages=[3,4,24])

In [18]:
#파싱된 테이블 개수확인
len(table_dfs)

5

In [19]:
#파싱 결과 확인
table_dfs[0]

,No.,Name,Net worth\n(USD),Age,Nationality,Primary source(s) of wealth
0,1,Bernard Arnault &\nfamily,$211 billion,74,France,LVMH
1,2,Elon Musk,$180 billion,51,South Africa\n Canada\n United\nStates,"Tesla, SpaceX, Twitter (Currently\nX)"
2,3,Jeff Bezos,$114 billion,59,United\nStates,Amazon
3,4,Larry Ellison,$107 billion,78,United\nStates,Oracle Corporation
4,5,Warren Buffett,$106 billion,92,United\nStates,Berkshire Hathaway
5,6,Bill Gates,$104 billion,67,United\nStates,Microsoft
6,7,Michael Bloomberg,$94.5 billion,81,United\nStates,Bloomberg L.P.
7,8,Carlos Slim & family,$93 billion,83,Mexico,"Telmex, América Móvil, Grupo\nCarso"
8,9,Mukesh Ambani,$83.4 billion,65,India,Reliance Industries
9,10,Steve Ballmer,$80.7 billion,67,United\nStates,Microsoft

In [ ]:
#파싱 결과 확인
table_dfs[1]

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Elon Musk,$219 billion,50,South Africa\n Canada\n United States,"Tesla, SpaceX"
1,2,Jeff Bezos,$177 billion,58,United States,Amazon
2,3,Bernard Arnault & family,$158 billion,73,France,LVMH
3,4,Bill Gates,$129 billion,66,United States,Microsoft
4,5,Warren Buffett,$118 billion,91,United States,Berkshire Hathaway
5,6,Larry Page,$111 billion,49,United States,Google
6,7,Sergey Brin,$107 billion,48,United States,Google
7,8,Larry Ellison,$106 billion,77,United States,Oracle Corporation
8,9,Steve Ballmer,$91.4 billion,66,United States,Microsoft
9,10,Mukesh Ambani,$90.7 billion,64,India,Reliance Industries

In [ ]:
#파싱 결과 확인
table_dfs[-1]

,Year,Number of billionaires,Group's combined net worth
0,2023[2],"2,640",$12.2 trillion
1,2022[6],"2,668",$12.7 trillion
2,2021[11],"2,755",$13.1 trillion
3,2020,"2,095",$8.0 trillion
4,2019,"2,153",$8.7 trillion
5,2018,"2,208",$9.1 trillion
6,2017,"2,043",$7.7 trillion
7,2016,"1,810",$6.5 trillion
8,2015[18],"1,826",$7.1 trillion
9,2014[67],"1,645",$6.4 trillion
10,2013[68],"1,426",$5.4 trillion
11,2012,"1,226",$4.6 trillion
12,2011,"1,210",$4.5 trillion
13,2010,"1,011",$3.6 trillion
14,2009,793,$2.4 trillion
15,2008,"1,125",$4.4 trillion
16,2007,946,$3.5 trillion
17,2006,793,$2.6 trillion
18,2005,691,$2.2 trillion
19,2004,587,$1.9 trillion
20,2003,476,$1.4 trillion
21,2002,497,$1.5 trillion
22,2001,538,$1.8 trillion
23,2000,470,$898 billion
24,Sources: Forbes.[18][67][66][68],,

이제 테이블을 다 파싱해왔는데,
이것들을 기반으로 질문에 바로 답할수 있도록 만들려면 만들수도 있겠지만,
테이블이 지금과 다르게 수천 수만개일때, 모든 유저 쿼리에 대해 수만개의 테이블을 매번 조회하는 것은 실용성 없는 Naive한 접근방식(자원은 무한하지 않다).

그렇기 때문에,
1. 사용자의 질문과 관련된 테이블을 먼저 찾고
2. 찾은 테이블을 기준으로 사용자의 질문에 답할 수 있는 정보를 발췌하여 답해보자.

일단은 각 테이블별로 답해주는 담당 라마인덱스 쿼리엔진을 만들어주자.

(지난 주 커버한 쿼리엔진 라우터(AdaptiveRAG))

In [20]:
!pip install llama-index-experimental

Collecting llama-index-experimental
  Downloading llama_index_experimental-0.1.4-py3-none-any.whl.metadata (865 bytes)
Requirement already satisfied: llama-index-core<0.11.0,>=0.10.11.post1 in /usr/local/lib/python3.10/dist-packages (from llama-index-experimental) (0.10.62)
Requirement already satisfied: PyYAML>=6.0.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.49 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy[asyncio]>=1.4.49->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.0.31)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.6 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.10.1)
Requirement already satisfied: dataclasses-json in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.6.7)
Requirement already satisfied: deprecated>=1.2.9.3 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.2.14)
Requirement already satisfied: dirtyjson<2.0.0,>=1.0.8 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.0.8)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2024.6.1)
Requirement already satisfied: httpx in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.27.0)
Requirement already satisfied: nest-asyncio<2.0.0,>=1.5.8 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.6.0)
Requirement already satisfied: networkx>=3.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.3)
Requirement already satisfied: nltk<4.0.0,>=3.8.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.8.1)
Requirement already satisfied: numpy<2.0.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.26.4)
Requirement already satisfied: openai>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.40.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.1.4)
Requirement already satisfied: pillow>=9.0.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (9.4.0)
Requirement already satisfied: requests>=2.31.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.32.3)
Requirement already satisfied: tenacity!=8.4.0,<9.0.0,>=8.2.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (8.5.0)
Requirement already satisfied: tiktoken>=0.3.3 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.7.0)
Requirement already satisfied: tqdm<5.0.0,>=4.66.1 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (4.66.5)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (4.12.2)
Requirement already satisfied: typing-inspect>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.9.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.16.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.3.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (24.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.6->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (4.0.3)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.8.1->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.8.1->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.8.1->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2024.5.15)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.7.0)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.5.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.8.2)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.3.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2024.7.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.0.5)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.14.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.49->SQLAlchemy[asyncio]>=1.4.49->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.0.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.8.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.0.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /usr/local/lib/python3.10/dist-packages (from dataclasses-json->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (3.21.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2024.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.2.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (24.1)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (0.7.0)
Requirement already satisfied: pydantic-core==2.20.1 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai>=1.1.0->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (2.20.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->llama-index-core<0.11.0,>=0.10.11.post1->llama-index-experimental) (1.16.0)
Downloading llama_index_experimental-0.1.4-py3-none-any.whl (11 kB)
Installing collected packages: llama-index-experimental
Successfully installed llama-index-experimental-0.1.4

In [21]:
from llama_index.experimental.query_engine import PandasQueryEngine

llm = OpenAI(model="gpt-4o-mini")

df_query_engines = [
    PandasQueryEngine(table_df, llm=llm) for table_df in table_dfs
]

In [22]:
df_query_engines

[<llama_index.experimental.query_engine.pandas.pandas_query_engine.PandasQueryEngine at 0x7c4830774f70>,
 <llama_index.experimental.query_engine.pandas.pandas_query_engine.PandasQueryEngine at 0x7c48307b70d0>,
 <llama_index.experimental.query_engine.pandas.pandas_query_engine.PandasQueryEngine at 0x7c48307b42b0>,
 <llama_index.experimental.query_engine.pandas.pandas_query_engine.PandasQueryEngine at 0x7c48307b6e90>,
 <llama_index.experimental.query_engine.pandas.pandas_query_engine.PandasQueryEngine at 0x7c48307b73a0>]

In [23]:
# 상응하는 테이블 직접 지정해서 답변 요구
response = df_query_engines[0].query(
    "What's the net worth of the second richest billionaire in 2023?"
)
print(str(response))

180.0

In [24]:
# 상응하는 테이블 직접 지정해서 답변 요구
response = df_query_engines[0].query(
    "Who is the richest guy in the world in 2023?"
)
print(str(response))

Bernard Arnault &
family

In [ ]:
table_dfs[0]

,No.,Name,Net worth\n(USD),Age,Nationality,Primary source(s) of wealth
0,1,Bernard Arnault &\nfamily,$211 billion,74,France,LVMH
1,2,Elon Musk,$180 billion,51,South Africa\n Canada\n United\nStates,"Tesla, SpaceX, Twitter (Currently\nX)"
2,3,Jeff Bezos,$114 billion,59,United\nStates,Amazon
3,4,Larry Ellison,$107 billion,78,United\nStates,Oracle Corporation
4,5,Warren Buffett,$106 billion,92,United\nStates,Berkshire Hathaway
5,6,Bill Gates,$104 billion,67,United\nStates,Microsoft
6,7,Michael Bloomberg,$94.5 billion,81,United\nStates,Bloomberg L.P.
7,8,Carlos Slim & family,$93 billion,83,Mexico,"Telmex, América Móvil, Grupo\nCarso"
8,9,Mukesh Ambani,$83.4 billion,65,India,Reliance Industries
9,10,Steve Ballmer,$80.7 billion,67,United\nStates,Microsoft

In [28]:
# 상응하는 테이블 지정해서 답변 요구
response = df_query_engines[2].query(
    "What's the net worth of the second richest billionaire in 2021?"
)
print(str(response))

151.0

In [26]:
# 상응하는 테이블 지정해서 답변 요구
response = df_query_engines[2].query(
    "where does this Jeff Bezos guy gets money from?"
)
print(str(response))

Amazon

In [ ]:
table_dfs[2]

,No.,Name,Net worth (USD),Age,Nationality,Source(s) of wealth
0,1,Jeff Bezos,$177 billion,57,United States,Amazon
1,2,Elon Musk,$151 billion,49,South Africa\n Canada\n United States,"Tesla, SpaceX"
2,3,Bernard Arnault & family,$150 billion,72,France,LVMH
3,4,Bill Gates,$124 billion,65,United States,Microsoft
4,5,Mark Zuckerberg,$97 billion,36,United States,Meta Platforms
5,6,Warren Buffett,$96 billion,90,United States,Berkshire Hathaway
6,7,Larry Ellison,$93 billion,76,United States,Oracle Corporation
7,8,Larry Page,$91.5 billion,48,United States,Google
8,9,Sergey Brin,$89 billion,47,United States,Google
9,10,Mukesh Ambani,$84.5 billion,63,India,Reliance Industries

In [29]:
response = df_query_engines[4].query(
    "How many billionaires were there in 2009?"
)
print(str(response))

793

In [30]:
response = df_query_engines[4].query(
    "How much is the 2009 billionaires' combined net worth?"
)
print(str(response))

$2.4 trillion

In [ ]:
table_dfs[4]

,Year,Number of billionaires,Group's combined net worth
0,2023[2],"2,640",$12.2 trillion
1,2022[6],"2,668",$12.7 trillion
2,2021[11],"2,755",$13.1 trillion
3,2020,"2,095",$8.0 trillion
4,2019,"2,153",$8.7 trillion
5,2018,"2,208",$9.1 trillion
6,2017,"2,043",$7.7 trillion
7,2016,"1,810",$6.5 trillion
8,2015[18],"1,826",$7.1 trillion
9,2014[67],"1,645",$6.4 trillion
10,2013[68],"1,426",$5.4 trillion
11,2012,"1,226",$4.6 trillion
12,2011,"1,210",$4.5 trillion
13,2010,"1,011",$3.6 trillion
14,2009,793,$2.4 trillion
15,2008,"1,125",$4.4 trillion
16,2007,946,$3.5 trillion
17,2006,793,$2.6 trillion
18,2005,691,$2.2 trillion
19,2004,587,$1.9 trillion
20,2003,476,$1.4 trillion
21,2002,497,$1.5 trillion
22,2001,538,$1.8 trillion
23,2000,470,$898 billion
24,Sources: Forbes.[18][67][66][68],,

질문별로 담당하는 쿼리엔진을 부여하는 것으로 heuristic하게 서칭 스페이스를 줄이고 시작할 수 있는 것 확인

In [31]:
# 쿼리엔진 요약문 생성
summaries = [
    (
        "This node provides information about the world's richest billionaires"
        " in 2023"
    ),
    (
        "This node provides information about the world's richest billionaires"
        " in 2022"
    ),
    (
        "This node provides information about the world's richest billionaires"
        " in 2021"
    ),
    (
        "This node provides information about the world's richest billionaires"
        " in 2020"
    ),
    (
        "This node provides information on the number of billionaires and"
        " their combined net worth from 2000 to 2023."
    ),
]

#생성된 요약문 별 노드단위 생성
df_nodes = [
    IndexNode(text=summary, index_id=f"pandas{idx}")
    for idx, summary in enumerate(summaries)
]

#요약노드 <-> 쿼리엔진 매핑
df_id_query_engine_mapping = {
    f"pandas{idx}": df_query_engine
    for idx, df_query_engine in enumerate(df_query_engines)
}

In [32]:
#생성된 노드 확인
df_nodes[0]

IndexNode(id_='962069f3-da0b-4e35-954e-5fef6a751517', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="This node provides information about the world's richest billionaires in 2023", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n', index_id='pandas0', obj=None)

In [33]:
#상위레벨 벡터스토어인덱스 정의
vector_index = VectorStoreIndex(df_nodes)
vector_retriever = vector_index.as_retriever(similarity_top_k=1)

RecursiveRetriever 활용한 Adaptive Engine Selection
- Pydantic Selector과 다르게 LLM 기반의 Function Calling이 아닌 2 step retrieval.
- chunk retrieve 하듯이 쿼리엔진별 description 대상으로 1차 거리계산 retrieve(top_k=1), 이후 retrieve 된 description을 가진 쿼리 엔진을 이용하여 쿼리 답안 생성

In [34]:
from llama_index.core.retrievers import RecursiveRetriever

from llama_index.core.query_engine import RetrieverQueryEngine
from llama_index.core import get_response_synthesizer

recursive_retriever = RecursiveRetriever(
    "vector",
    retriever_dict={"vector": vector_retriever},
    query_engine_dict=df_id_query_engine_mapping,
    verbose=True,
)

response_synthesizer = get_response_synthesizer(response_mode="compact")

query_engine = RetrieverQueryEngine.from_args(
    recursive_retriever, response_synthesizer=response_synthesizer
)

In [35]:
response = query_engine.query(
    "What's the net worth of the second richest billionaire in 2023?"
)

Retrieving with query id None: What's the net worth of the second richest billionaire in 2023?
Retrieved node with id, entering: pandas0
Retrieving with query id pandas0: What's the net worth of the second richest billionaire in 2023?
Got response: 180.0

In [36]:
# 하위 리트리버의 response
response.source_nodes[0].node.get_content()

"Query: What's the net worth of the second richest billionaire in 2023?\nResponse: 180.0"

In [37]:
# 그걸 전달받은 상위 리트리버의 최종 답안
str(response)

'180.0'

In [38]:
response = query_engine.query("How many billionaires were there in 2009?")

Retrieving with query id None: How many billionaires were there in 2009?
Retrieved node with id, entering: pandas4
Retrieving with query id pandas4: How many billionaires were there in 2009?
Got response: 793

In [39]:
str(response)

'793'

In [44]:
# 파싱할 파일 경로 설정
file_path = "/content/son.pdf"

In [45]:
# PDF파서 정의
reader = PyMuPDFReader()
# 업로드된 경로에서 로딩스테이지 진행한 후 다큐먼트 단위로 저장
docs = reader.load(file_path)

In [46]:
doc_nodes = Settings.node_parser.get_nodes_from_documents(docs)

In [47]:
# 비교를 위한 Naive-RAG 구성
vector_index0 = VectorStoreIndex(doc_nodes)
vector_query_engine0 = vector_index0.as_query_engine()

In [48]:
response = vector_query_engine0.query(
    "손흥민이 소속된 구단이 어디야?"
)

In [49]:
print(str(response))

손흥민은 레버쿠젠과 토트넘 홋스퍼에서 활동한 것으로 보입니다.

In [50]:
print(response.source_nodes[0].node.get_content())

“손흥민, 2골 폭발…시즌 2-3호 기록” (http://www.tvreport.co.
kr/?c=news&m=newsview&idx=76966). TVREPORT.
26. 윤동빈 (2013년 2월 10일). “손흥민 8·9호 멀티골 폭발…獨언론 최고평점 부여” (http://news.chosu
n.com/site/data/html_dir/2013/02/10/2013021000293.html). 조선일보.
27. 김환 (2013년 4월 14일). “손흥민의 11호 골이 갖는 ‘세 가지 의미’” (https://news.naver.com/main/
read.nhn?mode=LSD&mid=sec&sid1=107&oid=241&aid=0002128435). 일간스포츠.
28. 정재훈 (2013년 6월 14일). “레버쿠젠 이적 확정, 손흥민 역할은 무엇?” (http://www.goal.com/kr/n
ews/1805/germany/2013/06/14/4046455/%EB%A0%88%EB%B2%84%EC%BF%A0%EC%
A0%A0-%EC%9D%B4%EC%A0%81-%ED%99%95%EC%A0%95-%EC%86%90%ED%9
D%A5%EB%AF%BC-%EC%97%AD%ED%95%A0%EC%9D%80-%EB%AC%B4%EC%9
7%87). 골닷컴. 2013년 6월 14일에 확인함.
29. 신민섭 (2013년 12월 1일). “해트트릭 이은 한경기 두 골, 손흥민 멀티 골 퍼레이드에 분데스리가 열
광” (https://web.archive.org/web/20131203013040/http://www.ilyo.co.kr/detail.php?number=6
7797&thread=04r02#). 일요신문. 2013년 12월 3일에 원본 문서 (http://www.ilyo.co.kr/detail.ph
p?number=67797&thread=04r02)에서 보존된 문서. 2013년 12월 1일에 확인함.
30. 김민지 (2013년 12월 1일). “손흥민 멀티골, 독일 현지 언론 최고 평점 1점 '역시 손세이셔널' ” (htt
p://www.tvreport.co.kr/?c=news&m=newsview&idx=430478). TVREPORT.
31. [1] (http://sports.news.naver.com/sports/index.nhn?category=worldfootball&ctg=news&mod=r
ead&office_id=413&article_id=0000014803)
32. “손흥민, 토트넘 이적 임박...이적료 약 4백억 원” (http://www.ytn.co.kr/_ln/0107_2015082708594
01679). YTN. 2015년 8월 27일.
33. 김, 우종 (2016년 5월 8일). “손흥민, EPL 진출 첫 '2G' 연속골 폭발!.. '리그 4호골' ” (http://sports.ne
ws.naver.com/wfootball/news/read.nhn?oid=108&aid=0002523798).

In [51]:
response = vector_query_engine0.query(
    "손흥민이 리그에서 23골을 넣었던 시즌이 언제야?"
)

In [52]:
print(str(response))

손흥민이 리그에서 23골을 넣었던 시즌은 2016-2017 시즌입니다.

In [53]:
print(response.source_nodes[0].node.get_content())

20. “손흥민“독일 함부르크 갑니다”” (https://news.naver.com/main/read.nhn?mode=LSD&mid=sec
&sid1=102&oid=087&aid=0000232331). 강원일보. 2009년 11월 11일.
21. “Glücklicher Cardoso lobt auch Son” (https://web.archive.org/web/20151122232543/http://sh.
sport-nord.de/news/index.php?news_id=13603&PHPSESSID=be51bc2569210df9e107afaf
d3487f89). 2015년 11월 22일에 원본 문서 (http://sh.sport-nord.de/news/index.php?news_id=1
3603&PHPSESSID=be51bc2569210df9e107afafd3487f89)에서 보존된 문서. 2015년 10월 30
일에 확인함.
22. 이용훈 (2010년 8월 5일). “함부르크 손흥민, 첼시 상대 역전 결승골” (http://www.goal.com/kr/new
s/1794/%ED%95%B4%EC%99%B8%ED%8C%8C/2010/08/05/2056387/%ED%95%A8%E
B%B6%80%EB%A5%B4%ED%81%AC-%EC%86%90%ED%9D%A5%EB%AF%BC-%E
C%B2%BC%EC%8B%9C-%EC%83%81%EB%8C%80-%EC%97%AD%EC%A0%84-%E
A%B2%B0%EC%8A%B9%EA%B3%A8). Goal.com. 2010년 8월 5일에 확인함.
23. Steve Han (2010년 10월 29일). “손흥민 "데뷔전, 아쉬움 남는 경기" ” (http://www.goal.com/kr/ne
ws/1794/%ED%95%B4%EC%99%B8%ED%8C%8C/2010/10/29/2188265/%EC%86%90%
ED%9D%A5%EB%AF%BC-%EB%8D%B0%EB%B7%94%EC%A0%84-%EC%95%84%E
C%89%AC%EC%9B%80-%EB%82%A8%EB%8A%94-%EA%B2%BD%EA%B8%B0).
Goal.com. 2010년 10월 29일에 확인함.
24. 구자윤 (2010년 10월 31일). “ '손흥민 데뷔골' 함부르크, 쾰른에 역전패” (http://www.goal.com/kr/n
ews/article?contentId=2190697). Goal.com. 2010년 10월 31일에 확인함.
25. 온라인 뉴스팀 (2010년 11월 21일). “손흥민, 2골 폭발…시즌 2-3호 기록” (http://www.tvreport.co.
kr/?c=news&m=newsview&idx=76966). TVREPORT.
26. 윤동빈 (2013년 2월 10일). “손흥민 8·9호 멀티골 폭발…獨언론 최고평점 부여” (http://news.chosu
n.com/site/data/html_dir/2013/02/10/2013021000293.html). 조선일보.
27. 김환 (2013년 4월 14일).

In [54]:
print(response.source_nodes[1].node.get_content())

“손흥민, 2골 폭발…시즌 2-3호 기록” (http://www.tvreport.co.
kr/?c=news&m=newsview&idx=76966). TVREPORT.
26. 윤동빈 (2013년 2월 10일). “손흥민 8·9호 멀티골 폭발…獨언론 최고평점 부여” (http://news.chosu
n.com/site/data/html_dir/2013/02/10/2013021000293.html). 조선일보.
27. 김환 (2013년 4월 14일). “손흥민의 11호 골이 갖는 ‘세 가지 의미’” (https://news.naver.com/main/
read.nhn?mode=LSD&mid=sec&sid1=107&oid=241&aid=0002128435). 일간스포츠.
28. 정재훈 (2013년 6월 14일). “레버쿠젠 이적 확정, 손흥민 역할은 무엇?” (http://www.goal.com/kr/n
ews/1805/germany/2013/06/14/4046455/%EB%A0%88%EB%B2%84%EC%BF%A0%EC%
A0%A0-%EC%9D%B4%EC%A0%81-%ED%99%95%EC%A0%95-%EC%86%90%ED%9
D%A5%EB%AF%BC-%EC%97%AD%ED%95%A0%EC%9D%80-%EB%AC%B4%EC%9
7%87). 골닷컴. 2013년 6월 14일에 확인함.
29. 신민섭 (2013년 12월 1일). “해트트릭 이은 한경기 두 골, 손흥민 멀티 골 퍼레이드에 분데스리가 열
광” (https://web.archive.org/web/20131203013040/http://www.ilyo.co.kr/detail.php?number=6
7797&thread=04r02#). 일요신문. 2013년 12월 3일에 원본 문서 (http://www.ilyo.co.kr/detail.ph
p?number=67797&thread=04r02)에서 보존된 문서. 2013년 12월 1일에 확인함.
30. 김민지 (2013년 12월 1일). “손흥민 멀티골, 독일 현지 언론 최고 평점 1점 '역시 손세이셔널' ” (htt
p://www.tvreport.co.kr/?c=news&m=newsview&idx=430478). TVREPORT.
31. [1] (http://sports.news.naver.com/sports/index.nhn?category=worldfootball&ctg=news&mod=r
ead&office_id=413&article_id=0000014803)
32. “손흥민, 토트넘 이적 임박...이적료 약 4백억 원” (http://www.ytn.co.kr/_ln/0107_2015082708594
01679). YTN. 2015년 8월 27일.
33. 김, 우종 (2016년 5월 8일). “손흥민, EPL 진출 첫 '2G' 연속골 폭발!.. '리그 4호골' ” (http://sports.ne
ws.naver.com/wfootball/news/read.nhn?oid=108&aid=0002523798).

In [79]:
table_dfs = get_tables(file_path, pages=[14,15,19])

In [80]:
len(table_dfs)

3

In [81]:
#파싱 결과 확인
table_dfs[0]

,클럽,시즌,리그,,,,국내컵,,,리그컵,,,UEFA,,,합계,,
0,,,디비\n젼,경 기,골,도 움,경 기\n도 움\n골,,,경 기\n도 움\n골,,,도 움\n경기\n골,,,경 기,골,도 움
1,함부르\n크 SV\nII,2009-\n10,레기\n오날\n리가\n노드,6,1,0,—,,,—,,,—,,,6,1,0
2,함부르\n크 SV,2010-\n11,분데\n스리\n가,13,3,0,1,0,0,—,,,—,,,14,3,0
3,,2011-\n12,,27,5,1,3,0,0,—,,,—,,,30,5,1
4,,2012-\n13,,33,12,2,1,0,0,—,,,—,,,34,12,2
5,,합계,,73,20,3,5,0,0,—,,,—,,,78,20,3
6,바이어\n04 레\n버쿠젠,2013-\n14,분데\n스리\n가,31,10,4,4,2,1,—,,,8[a],0,2,43,12,7
7,,2014-\n15,,30,11,2,2,1,0,—,,,10[a],5,1,42,17,3
8,,2015-\n16,,1,0,0,0,0,0,—,,,1[a],0,0,2,0,0
9,,합계,,62,21,6,6,3,1,—,,,19,5,3,87,29,10
10,토트넘\n홋스퍼,2015-\n16,프리\n미어\n리그,28,4,1,4,1,1,1,0,0,7[b],3,4,40,8,6
11,,2016-\n17,,34,14,6,5,6,1,0,0,0,8[c],1,0,47,21,7
12,,2017-\n18,,37,12,6,7,2,3,2,0,2,7[a],4,0,53,18,11
13,,2018-\n19,,31,12,6,1,1,2,4,3,0,12[a],4,1,48,20,9
14,,2019-\n20,,30,11,10,4,2,0,1,0,0,6[a],5,2,41,18,12
15,,2020-\n21,,37,17,10,2,0,4,3,1,0,9[b],4,3,51,22,17
16,,2021-\n22,,35,23,7,2,0,0,4,0,0,4[d],1,1,45,24,8
17,,2022-\n23,,36,10,6,3,2,0,0,0,0,8,2,0,47,14,6
18,,2023-\n24,,32,17,8,0,0,0,1,0,0,0,0,0,26,14,8
19,,합계,,300,120,60,28,14,11,16,4,2,61,24,11,398,159,84
20,클럽 경력 통산,,,428,158,69,39,17,12,16,4,2,80,29,14,563,208,97

In [82]:
import pandas as pd
df = table_dfs[0].replace('\n', '', regex=True)

# Step 2: Forward fill missing '클럽' and '시즌' columns
df['클럽'] = df['클럽'].replace('', pd.NA).fillna(method='ffill')
df['시즌'] = df['시즌'].replace('', pd.NA).fillna(method='ffill')

# Step 3: Adjust columns based on the expected structure

# Since the structure is consistent, you can rename the columns for clarity
df.columns = [
    '클럽', '시즌', '리그', '리그_경기', '리그_골', '리그_도움',
    '국내컵_경기', '국내컵_골', '국내컵_도움', '리그컵_경기',
    '리그컵_골', '리그컵_도움', 'UEFA_경기', 'UEFA_골', 'UEFA_도움',
    '합계_경기', '합계_골', '합계_도움'
]

# Step 4: Replace dashes ('—') with NaN for better handling of missing data
df = df.replace('—', pd.NA)

# Step 5: Convert numeric columns to appropriate data types (if necessary)
# This step ensures that numeric data are treated as numbers, not strings
numeric_columns = [
    '리그_경기', '리그_골', '리그_도움',
    '국내컵_경기', '국내컵_골', '국내컵_도움',
    '리그컵_경기', '리그컵_골', '리그컵_도움',
    'UEFA_경기', 'UEFA_골', 'UEFA_도움',
    '합계_경기', '합계_골', '합계_도움'
]

df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df = df.drop(index=0)

# Reset the index after dropping the row
df = df.reset_index(drop=True)
table_dfs[0] = df

<ipython-input-82-d42b063bf33f>:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['클럽'] = df['클럽'].replace('', pd.NA).fillna(method='ffill')
<ipython-input-82-d42b063bf33f>:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['시즌'] = df['시즌'].replace('', pd.NA).fillna(method='ffill')

In [83]:
table_dfs[0]

,클럽,시즌,리그,리그_경기,리그_골,리그_도움,국내컵_경기,국내컵_골,국내컵_도움,리그컵_경기,리그컵_골,리그컵_도움,UEFA_경기,UEFA_골,UEFA_도움,합계_경기,합계_골,합계_도움
0,함부르크 SVII,2009-10,레기오날리가노드,6.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,1.0,0.0
1,함부르크 SV,2010-11,분데스리가,13.0,3.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0,3.0,0.0
2,함부르크 SV,2011-12,,27.0,5.0,1.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0,1.0
3,함부르크 SV,2012-13,,33.0,12.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,34.0,12.0,2.0
4,함부르크 SV,합계,,73.0,20.0,3.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,78.0,20.0,3.0
5,바이어04 레버쿠젠,2013-14,분데스리가,31.0,10.0,4.0,4.0,2.0,1.0,NaN,NaN,NaN,NaN,0.0,2.0,43.0,12.0,7.0
6,바이어04 레버쿠젠,2014-15,,30.0,11.0,2.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,5.0,1.0,42.0,17.0,3.0
7,바이어04 레버쿠젠,2015-16,,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0,0.0,0.0
8,바이어04 레버쿠젠,합계,,62.0,21.0,6.0,6.0,3.0,1.0,NaN,NaN,NaN,19.0,5.0,3.0,87.0,29.0,10.0
9,토트넘홋스퍼,2015-16,프리미어리그,28.0,4.0,1.0,4.0,1.0,1.0,1.0,0.0,0.0,NaN,3.0,4.0,40.0,8.0,6.0
10,토트넘홋스퍼,2016-17,,34.0,14.0,6.0,5.0,6.0,1.0,0.0,0.0,0.0,NaN,1.0,0.0,47.0,21.0,7.0
11,토트넘홋스퍼,2017-18,,37.0,12.0,6.0,7.0,2.0,3.0,2.0,0.0,2.0,NaN,4.0,0.0,53.0,18.0,11.0
12,토트넘홋스퍼,2018-19,,31.0,12.0,6.0,1.0,1.0,2.0,4.0,3.0,0.0,NaN,4.0,1.0,48.0,20.0,9.0
13,토트넘홋스퍼,2019-20,,30.0,11.0,10.0,4.0,2.0,0.0,1.0,0.0,0.0,NaN,5.0,2.0,41.0,18.0,12.0
14,토트넘홋스퍼,2020-21,,37.0,17.0,10.0,2.0,0.0,4.0,3.0,1.0,0.0,NaN,4.0,3.0,51.0,22.0,17.0
15,토트넘홋스퍼,2021-22,,35.0,23.0,7.0,2.0,0.0,0.0,4.0,0.0,0.0,NaN,1.0,1.0,45.0,24.0,8.0
16,토트넘홋스퍼,2022-23,,36.0,10.0,6.0,3.0,2.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,47.0,14.0,6.0
17,토트넘홋스퍼,2023-24,,32.0,17.0,8.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,26.0,14.0,8.0
18,토트넘홋스퍼,합계,,300.0,120.0,60.0,28.0,14.0,11.0,16.0,4.0,2.0,61.0,24.0,11.0,398.0,159.0,84.0
19,클럽 경력 통산,합계,,428.0,158.0,69.0,39.0,17.0,12.0,16.0,4.0,2.0,80.0,29.0,14.0,563.0,208.0,97.0

In [84]:
table_dfs[1]

             상대팀 골 수                                                 날짜
0       사우샘프턴 FC  10  2016, 05, 08\n2016, 12, 29\n2017, 12, 26\n2018...
1      레스터 시티 FC   9  2017, 05, 19\n2018, 12, 09\n2019, 02, 10\n2022...
2    크리스탈 팰리스 FC   9  2015, 09, 20\n2017, 11, 05\n2019, 04, 04\n2019...
3        AFC 본머스   7  2017, 04, 15\n2018, 03, 12\n2018, 12, 27\n2023...
4         왓퍼드 FC   6  2015, 12, 29\n2017, 04, 08\n2017, 12, 03\n2019...
5         리버풀 FC   6  2017, 10, 23\n2020, 12, 17\n2021, 12, 20\n2022...
6  웨스트햄 유나이티드 FC   6  2018, 01, 05\n2019, 11, 23\n2020, 10, 19\n2022...
7          번리 FC   6  2017, 04, 01\n2019, 12, 07\n2020, 10, 27\n2023...
8         아스널 FC   6           2020, 07, 13\n2020, 12, 07\n2021, 09, 27

In [85]:
table_dfs[2]

,#,일시,장소,상대 국가,득점,결 과,매치 형식
0,1,2011년 1월\n18일,카타르 도하 타니 빈 자심 스타디\n움,인도,4-1,4-1,2011년 AFC 아시안컵
1,2,2013년 3월\n26일,대한민국 서울 서울월드컵경기장,카타르,2-1,2-1,2014년 FIFA 월드컵 아시아\n지역 4차 예선
2,3\n4,2013년 9월 6\n일,대한민국 인천 인천축구전용경기\n장,아이티,1-0\n4-1,4-1,친선경기
3,5,2013년 10월\n15일,대한민국 천안 천안종합운동장,말리,2-1,3-1,친선경기
4,6,2014년 3월 5\n일,그리스 아테네 카라이스카키스\n스타디움,그리스,2-0,2-0,친선경기
5,7,2014년 6월\n22일,브라질 포르투알레그리 이스타지\n우 베이라히우,알제리,1-3,2-4,2014년 FIFA 월드컵
6,8\n9,2015년 1월\n22일,오스트레일리아 멜버른 멜버른\n렉탱귤러 스타디움,우즈베키\n스탄,1-0\n2-0,2-0,2015년 AFC 아시안컵
7,10,2015년 1월\n31일,오스트레일리아 시드니 스타디움\n오스트레일리아,오스트레\n일리아,1-1,1-2,2015년 AFC 아시안컵
8,11,2015년 6월\n16일,태국 방콕 라차망칼라 스타디움,미얀마,2-0,2-0,2018년 FIFA 월드컵 아시아\n지역 2차 예선
9,12\n13\n14,2015년 9월 3\n일,대한민국 화성 화성종합경기타운,라오스,2-0\n5-0\n7-0,8-0,2018년 FIFA 월드컵 아시아\n지역 2차 예선
10,15\n16,2015년 11월\n17일,라오스 비엔티안 라오스 신국립\n경기장,라오스,3-0\n5-0,5-0,2018년 FIFA 월드컵 아시아\n지역 2차 예선
11,17,2016년 10월\n6일,대한민국 수원 수원월드컵경기장,카타르,3-2,3-2,2018년 FIFA 월드컵 아시아\n지역 3차 예선
12,18,2017년 10월\n10일,스위스 빌/비엔 티쏘 아레나,모로코,1-3,1-3,친선경기
13,19\n20,2017년 11월\n10일,대한민국 수원 수원월드컵경기장,콜롬비아,1-0\n2-0,2-1,친선경기
14,21,2018년 5월\n28일,대한민국 대구 대구스타디움,온두라스,1-0,2-0,친선경기
15,22,2018년 6월\n23일,러시아 로스토프 로스토프 아레\n나,멕시코,1-2,1-2,2018년 FIFA 월드컵
16,23,2018년 6월\n27일,러시아 카잔 카잔 아레나,독일,2-\n0[69],2-0,2018년 FIFA 월드컵
17,24,2019년 3월\n26일,대한민국 서울 서울월드컵경기장,콜롬비아,1-0,2-1,친선경기

In [86]:
df_query_engines = [
    PandasQueryEngine(table_df, llm=llm) for table_df in table_dfs
]

In [87]:
# 상응하는 테이블 직접 지정해서 답변 요구
response = df_query_engines[0].query(
    "손흥민이 리그에서 23골을 넣었던 시즌이 언제야?"
)
print(str(response))

2021-22

In [133]:
# 상응하는 테이블 직접 지정해서 답변 요구
response = df_query_engines[1].query(
    "손흥민이 상대팀 리버풀 상대로 몇골 넣었지?"
)
print(str(response))

6

In [137]:
# 상응하는 테이블 직접 지정해서 답변 요구
response = df_query_engines[1].query(
    "손흥민이 어떤 팀 상대로 가장 많은 골을 넣었지?"
)
print(str(response))

사우샘프턴 FC

In [97]:
# 상응하는 테이블 직접 지정해서 답변 요구
response = df_query_engines[2].query(
    "2018 FIFA 월드컵에서 어떤 팀들 상대로 골 넣었었지?"
)
print(str(response))

15    멕시코
16     독일
Name: 상대 국가, dtype: object

In [99]:
table_dfs[0]

,클럽,시즌,리그,리그_경기,리그_골,리그_도움,국내컵_경기,국내컵_골,국내컵_도움,리그컵_경기,리그컵_골,리그컵_도움,UEFA_경기,UEFA_골,UEFA_도움,합계_경기,합계_골,합계_도움
0,함부르크 SVII,2009-10,레기오날리가노드,6.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,1.0,0.0
1,함부르크 SV,2010-11,분데스리가,13.0,3.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0,3.0,0.0
2,함부르크 SV,2011-12,,27.0,5.0,1.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,30.0,5.0,1.0
3,함부르크 SV,2012-13,,33.0,12.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,34.0,12.0,2.0
4,함부르크 SV,합계,,73.0,20.0,3.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,78.0,20.0,3.0
5,바이어04 레버쿠젠,2013-14,분데스리가,31.0,10.0,4.0,4.0,2.0,1.0,NaN,NaN,NaN,NaN,0.0,2.0,43.0,12.0,7.0
6,바이어04 레버쿠젠,2014-15,,30.0,11.0,2.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,5.0,1.0,42.0,17.0,3.0
7,바이어04 레버쿠젠,2015-16,,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0,0.0,0.0
8,바이어04 레버쿠젠,합계,,62.0,21.0,6.0,6.0,3.0,1.0,NaN,NaN,NaN,19.0,5.0,3.0,87.0,29.0,10.0
9,토트넘홋스퍼,2015-16,프리미어리그,28.0,4.0,1.0,4.0,1.0,1.0,1.0,0.0,0.0,NaN,3.0,4.0,40.0,8.0,6.0
10,토트넘홋스퍼,2016-17,,34.0,14.0,6.0,5.0,6.0,1.0,0.0,0.0,0.0,NaN,1.0,0.0,47.0,21.0,7.0
11,토트넘홋스퍼,2017-18,,37.0,12.0,6.0,7.0,2.0,3.0,2.0,0.0,2.0,NaN,4.0,0.0,53.0,18.0,11.0
12,토트넘홋스퍼,2018-19,,31.0,12.0,6.0,1.0,1.0,2.0,4.0,3.0,0.0,NaN,4.0,1.0,48.0,20.0,9.0
13,토트넘홋스퍼,2019-20,,30.0,11.0,10.0,4.0,2.0,0.0,1.0,0.0,0.0,NaN,5.0,2.0,41.0,18.0,12.0
14,토트넘홋스퍼,2020-21,,37.0,17.0,10.0,2.0,0.0,4.0,3.0,1.0,0.0,NaN,4.0,3.0,51.0,22.0,17.0
15,토트넘홋스퍼,2021-22,,35.0,23.0,7.0,2.0,0.0,0.0,4.0,0.0,0.0,NaN,1.0,1.0,45.0,24.0,8.0
16,토트넘홋스퍼,2022-23,,36.0,10.0,6.0,3.0,2.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,47.0,14.0,6.0
17,토트넘홋스퍼,2023-24,,32.0,17.0,8.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,26.0,14.0,8.0
18,토트넘홋스퍼,합계,,300.0,120.0,60.0,28.0,14.0,11.0,16.0,4.0,2.0,61.0,24.0,11.0,398.0,159.0,84.0
19,클럽 경력 통산,합계,,428.0,158.0,69.0,39.0,17.0,12.0,16.0,4.0,2.0,80.0,29.0,14.0,563.0,208.0,97.0

In [124]:
# 쿼리엔진 요약문 생성
summaries = [
    (
        "This node provides information about 손흥민의 시즌별 통산 득점 기록"
    ),
    (
        "This node provides information about 손흥민의 상대팀별 기록."
    ),
    (
        "This node provides information about 손흥민의 국가대표팀 득점 기록"
    ),
]

#생성된 요약문 별 노드단위 생성
df_nodes = [
    IndexNode(text=summary, index_id=f"pandas{idx}")
    for idx, summary in enumerate(summaries)
]

#요약노드 <-> 쿼리엔진 매핑
df_id_query_engine_mapping = {
    f"pandas{idx}": df_query_engine
    for idx, df_query_engine in enumerate(df_query_engines)
}

In [125]:
#상위레벨 벡터스토어인덱스 정의
vector_index = VectorStoreIndex(df_nodes)
vector_retriever = vector_index.as_retriever(similarity_top_k=1)

In [126]:
recursive_retriever = RecursiveRetriever(
    "vector",
    retriever_dict={"vector": vector_retriever},
    query_engine_dict=df_id_query_engine_mapping,
    verbose=True,
)

response_synthesizer = get_response_synthesizer(response_mode="compact")

query_engine = RetrieverQueryEngine.from_args(
    recursive_retriever, response_synthesizer=response_synthesizer
)

In [132]:
response = query_engine.query(
    "손흥민이 상대팀 리버풀 상대로 몇골 넣었지?"
)
print(str(response))

Retrieving with query id None: 손흥민이 상대팀 리버풀 상대로 몇골 넣었지?
Retrieved node with id, entering: pandas1
Retrieving with query id pandas1: 손흥민이 상대팀 리버풀 상대로 몇골 넣었지?
Got response: 6
6

In [131]:
response = query_engine.query(
    "손흥민이 리그에서 23골을 넣었던 시즌이 언제야?"
)
print(str(response))

Retrieving with query id None: 손흥민이 리그에서 23골을 넣었던 시즌이 언제야?
Retrieved node with id, entering: pandas0
Retrieving with query id pandas0: 손흥민이 리그에서 23골을 넣었던 시즌이 언제야?
Got response: 2021-22
2021-22

In [136]:
response = query_engine.query(
    "손흥민이 어떤 팀 상대로 가장 많은 골을 넣었지?"
)
print(str(response))

Retrieving with query id None: 손흥민이 어떤 팀 상대로 가장 많은 골을 넣었지?
Retrieved node with id, entering: pandas1
Retrieving with query id pandas1: 손흥민이 어떤 팀 상대로 가장 많은 골을 넣었지?
Got response: 사우샘프턴 FC
사우샘프턴 FC

In [138]:

response = query_engine.query(
    "2018 FIFA 월드컵에서 어떤 팀들 상대로 골 넣었었지?"
)
print(str(response))

Retrieving with query id None: 2018 FIFA 월드컵에서 어떤 팀들 상대로 골 넣었었지?
Retrieved node with id, entering: pandas2
Retrieving with query id pandas2: 2018 FIFA 월드컵에서 어떤 팀들 상대로 골 넣었었지?
Got response: 15    멕시코
16     독일
Name: 상대 국가, dtype: object
멕시코, 독일